[submodule "contrib/wubwubcmake"]
	path = contrib/wubwubcmake
	url = https://github.com/NickNick/wubwubcmake.git
[submodule "contrib/vowpal_wabbit"]
	path = contrib/vowpal_wabbit
	url = https://github.com/JohnLangford/vowpal_wabbit.git
